body{
    margin: 0;
    padding: 0;
}
#nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: rgba(241, 244, 255, 1);
    height: 43px;
    padding-top: 7px;
    padding-bottom: 7px;
}
#nav-bar a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    background-color: rgba(241, 244, 255, 1);
    border-radius: 50%;
}
#nav-bar a img{
    height: 24px;
    width: 24px;
}
.clicked{
    background-image: url("../images/Ellipse 3.png");
    background-size: cover;
    background-position:inherit;
    background-repeat: no-repeat;
}